@model SchoolManagementSystem.Models.StudentTable
@{
    ViewBag.Title = "RegisterStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .timage{
      
      
        width:198px;
        height:198px;
    }
</style>
<script>
    $(function () {
        $("#StudentProvince").change(function () {
            var $dropdown = $(this);
            $.getJSON("/Models/Data.json", function (Data) {
               
                var key = $dropdown.val();
                var vals = [];

                switch (key) {
                    case 'KPK':
                        vals = Data.KPK.split(",");
                        break;
                    case 'Punjab':
                        vals = Data.Punjab.split(",");
                        break;
                    case 'Sindh':
                        vals = Data.Sindh.split(",");
                        break;
                    case 'Balochistan':
                        vals = Data.Balochistan.split(",");
                        break;
                    case 'Federal':
                        vals = Data.Federal.split(",");
                        break;
                    case 'base':
                        vals = ['Please Select Your Province'];
                }

                var $jsontwo = $("#StudentCity");
                $jsontwo.empty();
                $.each(vals, function (index, value) {
                    $jsontwo.append("<option>" + value + "</option>");
                });

            });
        });

    });
</script>
<div class="pcoded-main-container" style="margin-top:56px">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content" style="width:1200px">
                <div class="main-body">
                    <div class="page-wrapper" style="align-content:center">
                        <div class="page-header">
                            <div class="page-header-title">
                                <h4>Student Registration</h4>
                            </div>
                        </div>
                        <div class="page-body col-md-11 center">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-header-left">
                                                <h4> Basic Details </h4>
                                            </div>
                                            <div class="card-header-right">
                                                <i class="icofont icofont-rounded-down"></i>
                                                <i class="icofont icofont-refresh"></i>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="wizard">
                                                        <section>
                                                            <form class="wizard-form" id="example-advanced-form" action="/Admin/RegisterStudent" method="post" enctype="multipart/form-data">
                                                                @Html.AntiForgeryToken()
                                                                <table class="table col-md-12 table-bordered">
                                                                    <tr>
                                                                        <td style="width:226px">
                                                                            <div class="form-control-inverse">
                                                                                <div id="image-holder" class="form-control form-control-inverse" style="height:200px;width:200px;padding:0"></div>
                                                                                <br/>
                                                                                <input id="Image" name="Image" type="file" class="required form-control form-control-inverse" style="width:200px">
                                                                            </div>
                                                                        </td>
                                                                        <td style="width:700px; padding:4px 2px 2px 10px;font-weight:bold">
                                                                            <div class="form-group row col-sm-12">
                                                                                <div class="col-sm-2" style="padding-left:5px; padding-right:2px">
                                                                                    <label for="StudentRegNum" class="block" style="line-height:50px">Registration#:</label>
                                                                                </div>
                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                    <input type="text" id="StudentRegNum" name="StudentRegNum" placeholder="Year/Class/Roll#" class="required form-control form-control-inverse" />
                                                                                </div>
                                                                                <div class="col-sm-2" style="padding-left:5px;padding-right:2px">
                                                                                    <label for="StudentName" class="block" style="line-height:50px">Full Name:</label>
                                                                                </div>
                                                                                <div class="col-sm-4" style="padding-left:5px;">
                                                                                    <input type="text" id="StudentName" name="StudentName" placeholder="Full Name" class="required form-control form-control-inverse" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row col-sm-12">
                                                                                <div class="col-sm-2" style="padding-left:5px; padding-right:2px">
                                                                                    <label for="StudentDOB" class="block" style="line-height:50px">Date Of Birth:</label>
                                                                                </div>
                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                    <input onfocus="this.type='date'" id="StudentDOB" name="StudentDOB" placeholder="Date of Birth" class="required form-control form-control-inverse" />
                                                                                </div>
                                                                                <div class="col-sm-2" style="padding-left:5px">
                                                                                    <label for="StudentGender" class="block" style="line-height:50px">Gender:</label>
                                                                                </div>
                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                    <select id="StudentGender" name="StudentGender" type="" class="required form-control form-control-inverse">
                                                                                        <option value="" disabled selected>Select Gender</option>
                                                                                        <option value="Male">Male</option>
                                                                                        <option value="Female">Female</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row col-sm-12">
                                                                                <div class="col-sm-2" style="padding-left:5px; padding-right:2px">
                                                                                    <label for="StudentProvince" class="block" style="line-height:50px">Province:</label>
                                                                                </div>
                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                    <select id="StudentProvince" name="StudentProvince" type="" class="required form-control form-control-inverse">
                                                                                        <option value="base" disabled selected>Select Province</option>
                                                                                        <option value="KPK">KPK</option>
                                                                                        <option value="Punjab">Punjab</option>
                                                                                        <option value="Sindh">Sindh</option>
                                                                                        <option value="Balochistan">Balochistan</option>
                                                                                        <option value="Federal">Federal</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-sm-2" style="padding-left:5px">
                                                                                    <label for="StudentCity" class="block" style="line-height:50px">City:</label>
                                                                                </div>
                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                    <select id="StudentCity" name="StudentCity" type="" class="required form-control form-control-inverse">
                                                                                        <option>Select the Province</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row col-sm-12">
                                                                                <div class="col-sm-2" style="padding-left:5px; padding-right:2px">
                                                                                    <label for="DateEnroll" class="block" style="line-height:50px">Admission:</label>
                                                                                </div>
                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                    <input onfocus="this.type='date'" id="DateEnroll" name="DateEnroll" placeholder="Today's Date" class="required form-control form-control-inverse today" />
                                                                                </div>
                                                                                <div class="col-sm-2"></div>
                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                    <input type="submit" id="submit" name="submit" class="form-control btn btn-primary" />
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                                            </form>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#Image").on('change', function () {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;

            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $("#image-holder");
            image_holder.empty();

            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) != "undefined") {

                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {

                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image timage"
                            }).appendTo(image_holder);
                        } 
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }

                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
    });
</script>

